.vscode/
.idea/
.vs
node_modules/
package-lock.json
yarn.lock

asset/host.json
asset/host1.json
asset/config.json
asset/migration.json
asset/menu.txt
asset/bundle
asset/upload/*
!asset/upload/storage
dump.rdb

public/img/*
!public/img/*.*
.DS_Store
.gitignore
.editorconfig
modules.jsx